.topSectionSelector {
  position: relative;
  .img {
    width: 230px;
    height: 150px;
  }
  a {
    padding-left: 60px;
  }
  .label {
    color: white;
    position: absolute;
    top: -35px;
margin-left: 60px !important;
    font-size: 20px;
  }
}
